{% load static %}
{% load post_tags %}

<!DOCTYPE html>

<html>
  <head>
      <title>极匠坊</title>

      <!-- meta -->
      <meta charset="UTF-8">
      <!-- css -->
      <link href="https://cdn.bootcss.com/semantic-ui/2.2.14/semantic.css" rel="stylesheet">

      <style>
      #postTitle{color:black;}
     #postTitle:hover{text-decoration:underline;}
    </style>

      <!-- js -->
      <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  </head>

  <body>
    <header>
        <div class="ui mini fixed borderless menu">
            <div class="ui container">
                <a class="fitted item" style="font-size:x-small" href="{% url 'blog:index' %}">首页</a>
                {% get_categories as category_list %}
                {% for category in category_list %}
                <a class="item" style="font-size:x-small" href="{% url 'blog:category' category.pk %}">
                    {{ category.name }}</a>
                {% endfor %}

                <div class="right item">
                    <form class="ui transparent action input" action="{% url 'haystack_search' %}" method="get">
                        <input type="search" name="q" placeholder="搜索..." required>
                        <button type="submit" style="border-style:none"><i class="search icon"></i></button>
                    </form>
                </div>

              </div>
        </div>
    </header>

    <div class="ui grid container" style="margin-top:2.5em">

        {% block main %}
        {% endblock main %}

        <aside class="four wide column">

            {% block toc %}
            {% endblock toc %}

            <div>
              <h4>标签集:</h4>
              {% get_tags as tag_list %}
              {% for tag in tag_list %}
                <a class="ui label" style="margin-bottom:0.25em" href="{% url 'blog:tag' tag.pk %}">
                    {{ tag.name }}</a>
              {% empty %}
              暂无标签！
              {% endfor %}
            </div>
        </aside>
    </div>


  </body>
</html>